
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}




/* ==========================================================================
   Header
   ========================================================================== */


 /* ==========================================================================
    Home
  ========================================================================== */
.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url(../img/bold-couch.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 180px;
}
h1 {
  border: 4px solid #59191F;
  font-size: 66px;
  padding: 30px 50px 30px 50px;
  color: #59191F;
}
